extends index 
block title
	h1 You have successfully subscribed to `#{eventName}`
block description
	div
		p You have successfully payed for and subscribed to `#{eventName}` which will happen on #{eventDate}
	div
		a(href=`${process.env.CLIENT_URL}/events/${eventId}`) Open event page