extends index 
block title
	h1 #{companyName} has just published a new event #{eventName}
block description
	div
		p #{companyName} has just published a new event #{eventName}
	div
		a(href=`${process.env.CLIENT_URL}/events/${eventId}`) Open event page