extends index 
block title
	h1 You have a new visitor at `#{eventName}`
block description
	div
		p #{visitorName} has subscribed to your `#{eventName}` event
	div
		a(href=`${process.env.CLIENT_URL}/events/${eventId}`) Open event page